.accordion {
  .accordion-toggle.accordion-toggle-styled {
    position: relative;
    color: #fff;
    background-color: $theme-accent-color-dark-light;
    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 18px;
      left: 10px;
      width: 19px;
      height: 1px;
      background-color: $theme-main-color;
    }
    &::after {
      transform: rotate(90deg);
      display: none;
    }
    &.collapsed {
      &::after {
        display: block;
      }
    }
  }
  .panel-collapse {
    border: 1px solid $theme-accent-color-dark-light;
    border-top: 0;
    .panel-body {
      border-top: 0 !important;
    }
  }
}
