// color
$theme-base-color: #eff1f7;
$theme-main-color: #fff;
$theme-accent-color: #f98700;

$theme-accent-color-light: #fffcf5;
$theme-accent-color-dark-light: #fecd58;
$theme-accent-bg-color: #f2f2f2;
$theme-accent-toolbar-color: #edecec;
$theme-accent-btn-2nd-color: #6d6d6d;
$red-error: #e73d4a;
$pink-error-bg: #fbe1e3;
$blue-input-outline-focus: $theme-accent-color;
$green-button-hover: #69cdd9;
$grey-default: $theme-base-color;
$grey-icon-light: #a7bdcd;
$grey-border: #ddd;
$bootstrap-gray-input-outline: #c2cad8;
$facebook-color: #2c6fae;
$google-color: #ea5f6a;
// size
$screen-phone: 480px;
